/* index页面的样式表 */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper{
    position: relative;
    height: 500px;
    background-color: pink;
}

/* 测导航 */
.banner .wrapper .aside{
    position: absolute;
    height: 500px;
    width: 250px;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
}

.banner .wrapper .aside li{
    height: 50px;
    line-height: 50px;
}


.banner .wrapper .aside li a{
    position: relative;
    /* a是行内标签 */
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding-left: 36px;
}

.banner .wrapper .aside li a:hover{
    background-color: #27ba9b;
}

.banner .wrapper .aside li span{
    font-size: 14px;
    padding-left: 15px;
}

.banner .wrapper .aside li a::after{
    position: absolute;
    right: 19px;
    top: 19px;
    content: '';
    width: 6px;
    height: 11px;
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

/* 箭头 */

.prev,
.next {
    /* display: block; */
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0,0,0,.2);
    background-image: url(../images/sprites.png);
    border-radius: 50%;
}

.prev {
    left: 260px;
    background-position: 14px -60px;
}

.next {
    right: 10px;
    background-position: -23px -60px;
}

/* 圆点 */
.banner .wrapper ol{
    position: absolute;
    left: 680px;
    bottom: 30px;
    width: 200px;
    height: 10px;
    background-color: skyblue;
}

.banner .wrapper ol li{
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    margin-right: 24px;
    cursor: pointer;
}

.banner .wrapper ol .current{
    background-color: white;
}

/* 新鲜好物 */
.goods .hd {
    height: 114px;
    line-height: 114px;
}

.goods .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.goods .hd a, 
.shengxian .hd .more{
    position: relative;
    float: right;
    color: #999;
}

.goods .hd a::after,
.shengxian .hd .more::after {
    display: inline-block;
    content: '';
    width: 7px;
    height: 13px;
    margin-left: 13px;
    background-image: url(../images/sprites.png);
    background-position: 1px -110px;
    vertical-align: middle;
}

.goods .hd span {
    font-size: 16px;
    color: #999;
    margin-left: 34px;
}

.goods .bd li {
    position: relative;
    float: left;
    width: 304px;
    height: 405px;
    margin-right: 8px;
    background-color: #f0f9f4;
    text-align: center;
}

.goods .bd li:last-child {
    margin-right: 0;
}

.goods .bd li img {
    width: 304px;
}

.goods .bd li h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.goods .bd li div {
    font-size: 17px;
    color: #9a2e1f;
}

.goods .bd li span {
    font-size: 23px;
}

.goods .bd li b {
    position: absolute;
    width: 28px;
    height: 51px;
    color: #27ba9b;
    border: 1px solid #27ba9b;
    left: 17px;
    top: 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/* 生鲜 */
.shengxian .hd {
    height: 96px;
    line-height: 96px;
}

.shengxian .hd h2 {
    font-size: 29px;
    color: #333;
    float: left;
    font-weight: 400;
}

.shengxian .hd .more {
    float: right;
    margin-left: 65px;
}


.shengxian .hd ul {
    float: right;
}

.shengxian .hd ul li {
    float: left;
}

.shengxian .hd li a {
    padding: 2px 7px;
    margin-left: 6px;
}

.shengxian .hd li a:hover {
    background-color: #27ba9b;
    color: #fff;
}

.shengxian .bd .left {
    float: left;
    width: 240px;
    height: 610px;
    background-color: pink;
}

.shengxian .bd .right {
    float: left;
    width: 1000px;
    height: 610px;
    background-color: skyblue;
}

/* .shengxian .bd {

} */